.searchField {
  display: flex;
  align-items: center;
  position: relative;
}

.searchButton {
  cursor: pointer;
  position: absolute;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  left: 5px;
  height: 30px;
}

.clearButton {
  cursor: pointer;
  position: absolute;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  right: 10px;
}

.field {
  display: none;

  @include on-tablet {
    width: 200px;
  }

  @include on-desktop {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 60px;
    height: 30px;
    background-color: var(--slider-btn-bg);
    border: 1px solid;
    border-color: var(--btn-border);
    border-radius: 20px;
    padding-inline: 25px;
    color: var(--text-color);
    outline: transparent;
    box-shadow: 0;
    transition:
      box-shadow,
      background-color,
      border-color,
      0.7s ease-in-out;
    width: 500px;
  }

  &:hover {
    box-shadow: 0 0 10px 4px #51cbee;
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-border-hover);
  }

  &:focus {
    box-shadow: 0 0 10px 4px #51cbee;
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-border-hover);
  }

  &::placeholder {
    position: relative;
    top: 10%;
    transform: translateY(-10%);
    color: var(--text-color);
  }

  &:focus::placeholder {
    color: #a9a9a9;
  }
}

.productsField {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  width: 500px;
  height: max-content;
  background-color: var(--option-hover);
  border: 1px solid;
  border-color: var(--btn-border);
  border-radius: 20px;
  padding-inline: 25px;
}

.searchIcon {
  width: 32px;
  height: 32px;

  @include on-desktop {
    width: 16px;
    height: 16px;
  }
}
