.backdrop {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.modalWrapper {
  flex-direction: column;
  justify-content: center;
  display: flex;
  backdrop-filter: blur(20px);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  padding: 50px;
  animation: show-modal 300ms ease-in forwards;
  margin: 0 auto;
}

@keyframes show-modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalText {
  flex-direction: column;
  display: flex;
  text-align: center;
  font-size: 22px;
  color: var(--text-color);
}

.buttonClose {
  align-self: flex-end;
  margin-bottom: 10px;
}

.modalText::after {
  display: flex;
  content: '';
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  animation: line-animation 4000ms ease infinite alternate;
}

@keyframes line-animation {
  0% {
    box-shadow: 0;
  }
  100% {
    box-shadow: 0 0 20px 4px #51cbee;
  }
}

.buttonContainer {
  display: flex;
  border-radius: 8px;
  animation: lineAnimation 4000ms ease-in-out infinite alternate;
}
